
<!-- Start Navbar -->
<nav class="navbar">
  <div class="navbar-header">
      <a  href="#" class="navbar-toggle n-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar" style="background:#FFFFFF;"></span>
        <span class="icon-bar" style="background:#FFFFFF;"></span>
        <span class="icon-bar" style="background:#FFFFFF;"></span>
           </a>
           <!---------------------destop logo------------------------->
           <span id="destop-logo">
           <a class="navbar-brand" href="#"><img src="/assets/CNTHomecareFC-assets/LOgo .png" height="50px" alt=""></a>
           </span>
           <!---------------------end destop logo------------------------->
           <!---------------------mobile logo------------------------->
            <span id="mobile-logo">
            <a href="#"><img src="/assets/CNTHomecareFC-assets/LOgo .png" alt="" style="width:210px;margin-top:10px;"></a>
            <a href="#" style="width:100px" class="eligible-section"><div class="col-xs-4" style="padding-left:0px;"><span class="fas fa-file-alt fa-2x"></span></div><div class="col-xs-8" style="padding-left: 0px;padding-right: 0px;text-align: center;font-size: 13px; color:#FFFFFF;"><span>Am I eligible</span></div></a>  
            <i class="fas fa-phone-alt fa-2x" ></i> 
            </span> 
            <!---------------------end mobile logo------------------------->
  </div>
        <!--/.nav-collapse -->
  <div class="collapse navbar-collapse">
        
      <ul class="nav navbar-nav navbar-right">
              <li class="pull-right">Book a free care consultation<br>(Mon-Fri 8am-6pm)</li><br><div class="row" style="margin-right:0px !important;"></div>

         
              <li><a class="active mar-top-10" routerLink="/Home">HOME</a></li>
              <li><a class="mar-top-10" routerLink="/About">ABOUT</a></li>
                <li><a class="mar-top-10" routerLink="/Services">SERVICES &nbsp;<i class="fas fa-angle-down"></i></a></li>
                <li><a class="mar-top-10" href="#">CDPAS/CDPAP &nbsp;<i class="fas fa-angle-down"></i></a></li>
        <li><a class="mar-top-10" href="#">CONTACT</a></li>
                <li><a href="#"><img src="/assets/CNTHomecareFC-assets/language.png" alt=""></a></li>
                <li><a class="mar-t-7" href="#"><span class="phone"><i class="fas fa-phone-alt"></i></span>(123) 456-7890</a></li>
      </ul>
  </div><!--/.nav-collapse -->
</nav>
<!-- End Navbar -->