<!-----------------Banner -------------->
<section id="banner">
    <div class="box">
        <div class="col-md-9">
            <h1><strong>Do you...</strong></h1>
            <h1 class="banner-h1">Need home assistance for daily activities?</h1>
            <h1 class="banner-h1">Live in New York?</h1>
            <h1 class="banner-h1">Have Medicaid?</h1>
            <p><button class="btn1">Know your ELEGIBILITY</button> <br class="banner-br"><!--------br for mobile----------->
             &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn2">Read FAQ</button></p>
        </div>
        <div class="col-md-3" id="destop-eligible">
            <div class="box1">
                <p><span style="font-family:Roboto-Thin; font-size:26px;">Am I eligible?</span> &nbsp;fill form to know more we'll check to see if youre eligible to apply</p>
                <div class="col-xs-6">
                <div class="cbox">
                    <strong style="color:#000000;">First Name</strong>
                    <input type="text" name="fname" id="fname" placeholder="Jhon" required>
                </div>
                </div>
                <div class="col-xs-6">
                <div class="cbox">
                    <strong style="color:#000000;">Last Name</strong>
                    <input type="text" name="lname" id="lname" placeholder="Bane" required>
                </div>
                </div>
                <div class="row"></div>
                <div style="padding:0px 5px 0px 5px;">
                <div class="cbox">
                    <strong style="color:#000000;">Phone Number</strong>
                    <input type="number" name="pnumber" id="pnumber" placeholder="XXX-XXX-XXXX" required>
                </div>
                </div>
                <div class="row"></div>
                <div style="padding:0px 5px 0px 5px;">
                <div class="cbox">
                    <strong style="color:#000000;">Email Address</strong>
                    <input type="email" name="emailaddress" id="emailaddress" placeholder="XXX-XXX-XXXX" required>
                </div>
                </div><br>
                <p>Are you the patient?</p>
                <p><input type="radio" name="patient">&nbsp;Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="patient">&nbsp;No</p>
                <br>
                <p>Does the patient have Medicaid?</p>
                <p><input type="radio" name="patientmedicaid">&nbsp;Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="patientmedicaid">&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="patientmedicaid">&nbsp;I don't know</p>
                <div class="col-xs-5" style="padding:0px;"><button>Am I ELIGIBLE</button></div><div class="col-xs-7" style="padding:0px;"><p> we will contact you with further instrucations.</p></div>
            </div>
        </div>
    </div>
</section>
<!-----------------End Banner ---------->
<!---------------Section 2------------------>
<!---------------Section 2------------------>
<section id="section2">
    <div class="col-md-6 section2-bg1">
        <h2>For YOU AND YOU LOVED ONES,</h2><span class="row"></span>
        <h3>we'realways here.</h3><span class="row"></span>

        <p text-align="left">
        The difference you will feel is amazing once you discover al the ways we can tailor home care plans to your need.
        </p>
        <div class="text-center"><button class="button1">&nbsp;Try Care Options&nbsp;</button></div>
    </div>
    <div class="col-md-6 section2-bg2">
        <h2 text-align="left">Join Us and FEEL AMAZING about<br> your job.</h2>
        <h3></h3><span class="row"></span>

        <p text-align="left">
        You will receive the best home care training as one of our caregivers.if you want to explore opportunities to work with us,let's talk.
        </p>
        <div class="text-center"><button class="button2">&nbsp;Provide Care&nbsp;</button></div>
    </div>
</section>
<!---------------End Section2------------------->
<!--------------mobile eligible----------------------->
<span  id="mobile-eligible">
<div class="col-md-3">
            <div class="box1">
                <p><span style="font-family:Roboto-Thin; font-size:26px;">Am I eligible?</span> &nbsp;fill form to know more we'll check to see if youre eligible to apply</p>
                <div class="col-xs-6">
                <div class="cbox">
                    <strong style="color:#000000;">First Name</strong>
                    <input type="text" name="fname" id="fname" placeholder="Jhon" required>
                </div>
                </div>
                <div class="col-xs-6">
                <div class="cbox">
                    <strong style="color:#000000;">Last Name</strong>
                    <input type="text" name="lname" id="lname" placeholder="Bane" required>
                </div>
                </div>
                <div class="row"></div>
                <div style="padding:0px 5px 0px 5px;">
                <div class="cbox">
                    <strong style="color:#000000;">Phone Number</strong>
                    <input type="number" name="pnumber" id="pnumber" placeholder="XXX-XXX-XXXX" required>
                </div>
                </div>
                <div class="row"></div>
                <div style="padding:0px 5px 0px 5px;">
                <div class="cbox">
                    <strong style="color:#000000;">Email Address</strong>
                    <input type="email" name="emailaddress" id="emailaddress" placeholder="XXX-XXX-XXXX" required>
                </div>
                </div><br>
                <p>Are you the patient?</p>
                <p><input type="radio" name="patient">&nbsp;Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="patient">&nbsp;No</p>
                <br>
                <p>Does the patient have Medicaid?</p>
                <p><input type="radio" name="patientmedicaid">&nbsp;Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="patientmedicaid">&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="patientmedicaid">&nbsp;I don't know</p>
                <div class="col-xs-5" style="padding:0px;"><button>Am I ELIGIBLE</button></div><div class="col-xs-7" style="padding:0px;"><p> we will contact you with further instrucations.</p></div>
            </div>
        </div>
        </span>
<!--------------end mobile eligible----------------------->

<!--------------Section 3----------------------->
<div class="row" style="margin-right:0px !important"></div>
<section id="section3">
    <div class="row">
        <div class="col-md-9" id="box1">
            <p>Use our toolto find suitable care for your need:</p>
            <div class="col-md-2">
                <label>Patients Age</label>
                <input type="text" name="patients_age" id="patients_age" class="form-control">
            </div> 
            <div class="col-md-4">
                <label>Patient's Condition</label>
                <select class="form-control" name="patients_condition" id="patients_condition">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Location</label>
                <select class="form-control" name="location" id="location">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="row"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p text-align="center">Fill the optiona above to get your answer.</p>
            </div>
        </div>
        <div class="col-md-3" id="box2">
            <p class="text-center">Call us for Assistance</p>
            <div class="row">
                <div class="col-xs-4">
                    <img src="/assets/CNTHomecareFC-assets/CallUsicon.png" alt="">
                </div>
                <div class="col-xs-8">
                    <p text-align="right"><label>Book An Appointment<br>
                    Arrange Call Back<br>
                    Fill The Form</label></p>
                </div>
                <div class="row"></div>
                <div class="pull-right">
                    <p text-align="right">Book a free care consultation<br>(Mon-Fri 8am-6pm)</p>
                    <p text-align="right"><span class="phone"><i class="fas fa-phone-alt"></i></span>&nbsp;<label>(123) 456-7890</label></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------End Section 3---------------------->
<div class="clearfix"></div>
<!--------------Section 4-------------------------->
    <!-----------------------end destop ver. our services--------------------> 
    <section id="section4" class="destop-service">
    	<div class="text-center"><p>Our <strong>SERVICES</strong></p></div>
        <div class="row" style="margin-right:0px;">
        <div class="container">
        	<div class="col-md-4">
            	<div class="box1">
                    <h2 class="text-center" style="font-family:Roboto;">CDPAS/CDPAP</h2>
                    <p text-align="left"><img src="/assets/CNTHomecareFC-assets/Quality Health.png" alt=""> &nbsp;Quality Health</p>
                    <p text-align="left"><img src="/assets/CNTHomecareFC-assets/Quality LIfe.png" alt=""> &nbsp;Quality Life</p>
                    <p text-align="left"><img src="/assets/CNTHomecareFC-assets/Quality Happiness.png" alt=""> &nbsp;Quality Happiness</p>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="box2">
                    <h2 class="text-center" style="font-family:Roboto;">Personal Care</h2>
                    <p text-align="center"><img src="/assets/CNTHomecareFC-assets/Persnal Care.png" alt=""></p>
                    <p text-align="center">Thousands of people are enjoying, you can too.</p>
                    <p text-align="center"><button>Know your ELEGIBILITY</button></p>
                    <p text-align="center"><button style="font-family:Roboto Thin; font-weight:600;">Read FAQ</button></p>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="box3">
                    <h2 class="text-center" style="font-family:Roboto;">Companion<br> & <br>Homemaker</h2>
                    <p text-align="center"><img src="/assets/CNTHomecareFC-assets/Join Hands.png" alt=""></p>
                    <p text-align="center">You get ongoing care from a person who loves you.</p>
                    
                 </div>
            </div>
           </div>
        </div>
    </section>
    <!-----------------------end destop ver. our services--------------------> 
    <!-----------------------mobile ver. our services--------------------> 
    <section id="section4" class="mobile-service" >
    	<div class="text-center"><p>Our <strong>SERVICES</strong></p></div>
        <div class="row" style="margin-right:0px;">
        <div class="container">
        	 <div class="col-md-4">
            	<div class="box2">
                    <h2 class="text-center" style="font-family:Roboto;">Personal Care</h2>
                    <p text-align="center" class="personal-care-bg"><img src="/assets/CNTHomecareFC-assets/Persnal Care.png" alt=""></p>
                    <p text-align="center">Thousands of people are enjoying, you can too.</p>
                    <p text-align="center"><button>Know your ELEGIBILITY</button></p>
                    <p text-align="center"><button style="font-family:Roboto Thin; font-weight:600;">Read FAQ</button></p>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="box1">
                    <h2 class="text-center" style="font-family:Roboto;">CDPAS/CDPAP</h2>
                    <p text-align="left"><img src="/assets/CNTHomecareFC-assets/Quality Health.png" alt=""> &nbsp;Quality Health</p>
                    <p text-align="left"><img src="/assets/CNTHomecareFC-assets/Quality LIfe.png" alt=""> &nbsp;Quality Life</p>
                    <p text-align="left"><img src="/assets/CNTHomecareFC-assets/Quality Happiness.png" alt=""> &nbsp;Quality Happiness</p>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="box3">
                    <h2 class="text-center" style="font-family:Roboto;">Companion<br> & <br>Homemaker</h2>
                    <p text-align="center"><img src="/assets/CNTHomecareFC-assets/Join Hands.png" alt=""></p>
                    <p text-align="center">You get ongoing care from a person who loves you.</p>
                    
                 </div>
            </div>
           </div>
        </div>
    </section>
    <!-----------------------end mobile ver. our services--------------------> 
    <!--------------End Section 4---------------------->
<!--------------Section 5-------------------------->
<section id="section5">
    <div class="box">
        <h1 text-align="left">Why US?</h1>
        <div class="col-md-6">
            <h2 text-align="right">Because you Deserve the Best</h2>
            <h1 text-align="right" style="font-family:Roboto Thin;">"WE BELIEVE IN GOOD CARE"</h1>
            <h3>Listen from others! How we changed their lives ?</h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
        <div class="text-center" id="c-good-care"><img src="/assets/CNTHomecareFC-assets/c-good-care.png" alt=""></div>
            <p text-align="left" style="font-family:Roboto Bold;">QUALITY Services with GREAT Ratings Frequently AUDITED and REGULATED Customized Services for UNIQUE needs</p>
            <div class="col-xs-4">
                <p class="text-center">Serviced</p>
                <h1 text-align="left" class="count">40 MM</h1>
                <p text-align="left" class="count">Patients</p>
            </div>
            <div class="col-xs-4">
                <p class="text-center" >Trained</p>
                <h1 text-align="left" class="count">1 MM</h1>
                <p text-align="left" class="count">Care Gives</p>
            </div>
            <div class="col-xs-4">
                <p class="text-center" >Located In</p>
                <h1 text-align="left" class="count">30</h1>
                <p text-align="left" class="count">County</p>
            </div>
            
        </div>
    </div>

</section>
<!--------------End Section 5---------------------->
      <!--------------Section 6-------------------------->
      <section id="section6">
    	<div class="container">
        	 <div class="box">
            	<p><i style="color:#558cca;" class="fas fa-award fa-5x"></i><br class="line-break"><span style="font-size:35px; color:#558cca;">&nbsp;Testimonials<br class="line-break"> with<br class="line-break"> LOVE &amp; CARE</span></p>
                <div class="col-md-12 padding-mobile-15" style=" border-bottom:1px solid;    padding-left: 50px;">
                	<a href="#" style="text-decoration: none;" class="span1"><strong>Patients</strong></a> &nbsp;&nbsp;<a href="#" style="text-decoration: none;" class="span2"><strong>Care Takers</strong></a>
                </div>
                <!-- Carousel------------->
                <div class="col-md-12 col-center m-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
                    <div class="box">
						<div class="col-md-6 col-xs-4"><img style="width:100%" src="/assets/CNTHomecareFC-assets/Testimonila 1.png" alt=""></div>
						<div class="col-md-6 col-xs-8">
                        <h3>"Mom is getting stronger, and it feels so good"</h3>
                        </div><div class="row rowCarousel"></div>
                        <div class="col-md-6">
                        <p class="testimonial">My mother had two strokes. We brought in a couple of aides, but I could tell she wasn't happy. Now I get to care for Mom daily - and she's smailing and laughing. I feel like it's my destiny. if I could do for her even 1/10 of what she did for me, I could look at her and say "I know she had the best care." I feel really good, knpwing she getting stronger each day."</p>
						<p style="padding:0px !important; margin:0px !important; color:#6697cf;">Richard Branker</p>
                        <p style="padding:0px !important; margin:0px !important; color:#6697cf;"><i class="fas fa-map-marker"></i>Long Island, New York</p></div>
                       </div>
                       <div class="row"></div>
                       <div class="box">
						<div class="col-md-6 col-xs-4"><img style="width:100%" src="/assets/CNTHomecareFC-assets/Testimonila 1.png" alt=""></div>
						<div class="col-md-6 col-xs-8">
                        <h3>"Mom is getting stronger, and it feels so good"</h3>
                        </div><div class="row rowCarousel"></div>
                        <div class="col-md-6">
                        <p class="testimonial">My mother had two strokes. We brought in a couple of aides, but I could tell she wasn't happy. Now I get to care for Mom daily - and she's smailing and laughing. I feel like it's my destiny. if I could do for her even 1/10 of what she did for me, I could look at her and say "I know she had the best care." I feel really good, knpwing she getting stronger each day."</p>
						<p style="padding:0px !important; margin:0px !important; color:#6697cf;">Richard Branker</p>
                        <p style="padding:0px !important; margin:0px !important; color:#6697cf;"><i class="fas fa-map-marker"></i>Long Island, New York</p></div>
                       </div>
					</div>
					<div class="item carousel-item">
						<div class="box">
						<div class="col-md-6 col-xs-4"><img style="width:100%" src="/assets/CNTHomecareFC-assets/Testimonila 1.png" alt=""></div>
						<div class="col-md-6 col-xs-8">
                        <h3>"Mom is getting stronger, and it feels so good"</h3>
                        </div><div class="row rowCarousel"></div>
                        <div class="col-md-6">
                        <p class="testimonial">My mother had two strokes. We brought in a couple of aides, but I could tell she wasn't happy. Now I get to care for Mom daily - and she's smailing and laughing. I feel like it's my destiny. if I could do for her even 1/10 of what she did for me, I could look at her and say "I know she had the best care." I feel really good, knpwing she getting stronger each day."</p>
						<p style="padding:0px !important; margin:0px !important; color:#6697cf;">Richard Branker</p>
                        <p style="padding:0px !important; margin:0px !important; color:#6697cf;"><i class="fas fa-map-marker"></i>Long Island, New York</p></div>
                       </div>
                       <div class="row"></div>
                        <div class="box">
						<div class="col-md-6 col-xs-4"><img style="width:100%" src="/assets/CNTHomecareFC-assets/Testimonila 1.png" alt=""></div>
						<div class="col-md-6 col-xs-8">
                        <h3>"Mom is getting stronger, and it feels so good"</h3>
                        </div><div class="row rowCarousel"></div>
                        <div class="col-md-6">
                        <p class="testimonial">My mother had two strokes. We brought in a couple of aides, but I could tell she wasn't happy. Now I get to care for Mom daily - and she's smailing and laughing. I feel like it's my destiny. if I could do for her even 1/10 of what she did for me, I could look at her and say "I know she had the best care." I feel really good, knpwing she getting stronger each day."</p>
						<p style="padding:0px !important; margin:0px !important; color:#6697cf;">Richard Branker</p>
                        <p style="padding:0px !important; margin:0px !important; color:#6697cf;"><i class="fas fa-map-marker"></i>Long Island, New York</p></div>
                       </div>
					</div>
					<div class="item carousel-item">
						<div class="box">
						<div class="col-md-6 col-xs-4"><img style="width:100%" src="/assets/CNTHomecareFC-assets/Testimonila 1.png" alt=""></div>
						<div class="col-md-6 col-xs-8">
                        <h3>"Mom is getting stronger, and it feels so good"</h3>
                        </div><div class="row rowCarousel"></div>
                        <div class="col-md-6">
                        <p class="testimonial">My mother had two strokes. We brought in a couple of aides, but I could tell she wasn't happy. Now I get to care for Mom daily - and she's smailing and laughing. I feel like it's my destiny. if I could do for her even 1/10 of what she did for me, I could look at her and say "I know she had the best care." I feel really good, knpwing she getting stronger each day."</p>
						<p style="padding:0px !important; margin:0px !important; color:#6697cf;">Richard Branker</p>
                        <p style="padding:0px !important; margin:0px !important; color:#6697cf;"><i class="fas fa-map-marker"></i>Long Island, New York</p></div>
                       </div>
                       <div class="row"></div>
                        <div class="box">
						<div class="col-md-6 col-xs-4"><img style="width:100%" src="/assets/CNTHomecareFC-assets/Testimonila 1.png" alt=""></div>
						<div class="col-md-6 col-xs-8">
                        <h3>"Mom is getting stronger, and it feels so good"</h3>
                        </div><div class="row rowCarousel"></div>
                        <div class="col-md-6">
                        <p class="testimonial">My mother had two strokes. We brought in a couple of aides, but I could tell she wasn't happy. Now I get to care for Mom daily - and she's smailing and laughing. I feel like it's my destiny. if I could do for her even 1/10 of what she did for me, I could look at her and say "I know she had the best care." I feel really good, knpwing she getting stronger each day."</p>
						<p style="padding:0px !important; margin:0px !important; color:#6697cf;">Richard Branker</p>
                        <p style="padding:0px !important; margin:0px !important; color:#6697cf;"><i class="fas fa-map-marker"></i>Long Island, New York</p></div>
                       </div>
					</div>
				</div>
				
			</div>
		</div>
         <!-- Carousel end------------->
              </div>
        </div>
    </section>
    <!--------------End Section 6---------------------->
    <!--------------Section 7-------------------------->
    
    <section id="section7">
    	<div class="container">
        	<hr class="mobile-hr-hide" style="background-color:#64302f; height: 2px; margin-top:0px;">
            <div class="box">
            	<p><i style="color:#558cca;" class="fas fa-award fa-5x"></i><br class="line-break"><span class="accre">&nbsp;Our Accreditations<br class="line-break"> and Awards</span></p>
                <p style="color:#558cca; font-family:GOTHIC; font-size:20px;" class="mobile-hide">Award provider in your vicinity</p>
                <div class="col-md-9">
                	<div class="col-md-3 text-center">
                    	<img src="/assets/CNTHomecareFC-assets/Layer 7.png" alt="">
                    </div>
                    <div class="col-sm-9">
                    	<strong>Thousands of New Youkers trust us.</strong><br>
                        <p>you can too.</p>
                        <p>As the largest care agency in New York - and the only one pffering in-person home enrollment across the state - we draw on unrivaled + an unparalleled case volume. A proud member of the care Association of New York,we're contracted with almost every insurance and trusted by thousands of doctors &amp; hospitals across the state.</p>
                        <strong>So you know you're in good hand.</strong>
                    </div>
                </div>
                <div class="col-md-3" style="text-align:center !important;">
                	<img src="/assets/CNTHomecareFC-assets/Accredited.png" alt="">
                </div>
            </div>
    	</div>	
    </section>
    <!--------------End Section 7---------------------->
    <!------------------Section 8---------------------->
    <section id="section8">
    	<div class="container">
        	<hr class="mobile-hr-hide" style="background-color:#558cca; height: 2px;">
            <div class="box">
            	<p><i style="color:#558cca;" class="fas fa-map-marked-alt fa-5x"></i><br class="line-break"><span class="span-font">&nbsp;Our Location<br class="line-break"> by Appointment Only</span><strong style="color:#558cca; font-size:20px">&nbsp;&nbsp;<br class="line-break"><br class="line-break"><span class="span-font1">"Please call </span><br class="line-break"><span class="span-font3">(123) 455-6890</span><br class="line-break"> <span class="span-font1">to schedule"</span></strong></p>
                <div class="col-md-3">
                	<strong><span class="span-font3">Long Island </span><br class="line-break"><span class="span-font2">(official Mailing Address)</span></strong>
                    <p style="margin-top:10px;" class="span-font1">1979 Marcus Ave Suite C115<br> Lake Success, NY 11042</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 865-8371</p>
                </div>
                <div class="col-md-3">
                	<strong><span class="span-font3">Queens</span></strong>
                    <p style="margin-top:10px;" class="span-font1">185-08 Union Tpke #104<br> Fresh Meadows, NY 11366</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 514-2199</p>
                </div>
                <div class="col-md-3">
                	<strong><span class="span-font3">Bronx</span></strong>
                    <p style="margin-top:10px;" class="span-font1">1200 Waters Place, Suite 105<br> Bronx, NY 10461</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 865-8371</p>
                </div>
                <div class="col-md-3">
                	<strong><span class="span-font3">Brooklyn</span></strong>
                    <p style="margin-top:10px;" class="span-font1">49 Wyckoff Ave<br> Brooklyn, NY 11237</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 865-8371</p>
                </div>
                <div class="col-md-3">
                	<strong><span class="span-font3">Long Island</span></strong>
                    <p style="margin-top:10px;" class="span-font1">1979 Marcus Ave Suite C115<br> Lake Success, NY 11042</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 865-8371</p>
                </div>
                <div class="col-md-3">
                	<strong><span class="span-font3">Queens</span></strong>
                    <p style="margin-top:10px;" class="span-font1">185-08 Union Tpke #104<br> Fresh Meadows, NY 11366</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 514-2199</p>
                </div>
                <div class="col-md-3">
                	<strong><span class="span-font3">Bronx</span></strong>
                    <p style="margin-top:10px;" class="span-font1">1200 Waters Place, Suite 105<br> Bronx, NY 10461</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 865-8371</p>
                </div>
                <div class="col-md-3">
                	<strong><span class="span-font3">Brooklyn</span></strong>
                    <p style="margin-top:10px;" class="span-font1">49 Wyckoff Ave<br> Brooklyn, NY 11237</p>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp;(718) 865-8371</p>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--------------End Section 8---------------------->
    
    <!---------------footer---------------------------->
    <section id="footer">
    	<div class="box">
        	<div class="container">
            	<div class="col-md-3">
                	<div class="footer-ourbelief"><strong>Our Belief:</strong></div>
                    <p class="span-font1">People have the right to get care from those they love and trust - people who bring them comfort &amp; joy.</p>
                    <img class="destop-img" style="margin-top:50px;" src="/assets/CNTHomecareFC-assets/CQC.png" alt="">
                </div>
                <div class="col-md-3">
                	<div class="footer-ourbelief"><strong>Our Information:</strong></div>
                    <ul style="list-style: none; padding:0px;">
                    	<li><span class="fas fa-angle-right"></span>&nbsp;What is XXXX</li>
                        <li><span class="fas fa-angle-right"></span>&nbsp;About us</li>
                        <li><span class="fas fa-angle-right"></span>&nbsp;Blog</li>
                        <li><span class="fas fa-angle-right"></span>&nbsp;Resources</li>
                        <li><span class="fas fa-angle-right"></span>&nbsp;Press</li>
                        <li><span class="fas fa-angle-right"></span>&nbsp;Careers</li>
                        <li><span class="fas fa-angle-right"></span>&nbsp;Office Employee Login</li>
                    </ul>
                </div>
                <div class="col-md-3">
                	<div class="footer-ourbelief"><strong>Get in Touch:</strong></div>
                    <p class="span-font1">Have a question or concern - or just want to learn more <strong>?</strong></p><br>
                    <p class="span-font1"><span class="fas fa-phone-alt"></span>&nbsp; Call Now:(877) 781-7442</p>
                    <p class="span-font1"><i class="far fa-envelope"></i>&nbsp;Send us an Email</p><br>
                    <p class="span-font1">Need HELP? &nbsp;&nbsp;<span style="background-color:#FFFFFF; padding:5px;border-radius: 4px;"><i style="color:#558cca;" class="fas fa-phone-alt"></i></span></p>
                    <p class="span-font4">(123) 456-7890</p>
                </div>
                <div class="col-md-3">
                	<div class="footer-ourbelief"><strong>Policies:</strong></div>
                    <p class="span-font1">We have strict onn-discrimination and privacy policies.</p><br><br>
                    <p class="span-font1"><span class="fas fa-angle-right"></span>&nbsp Non-discrimination policy</p>
                    <p class="span-font1"><span class="fas fa-angle-right"></span>&nbsp;Privacy Policy</p>
                </div>
                
            </div>
            <div class="row"></div>
            <br>
            	<!---------------------------for mobile-------------------->
				<div class="text-center mobile-img"><img style="margin-top:50px; margin-bottom:50px;" src="CNT Homecare _LegacyColor-assets/CQC.png" alt="">            </div>
            	<!----------------------------end for mobile--------------->
            <br>

                <div class="text-center span-font1">Copyright&copy; CNT Homecare 2019</div>
        </div>
        
    </section>
    <!---------------end footer------------------------>








